{% extends "base.html.twig" %}


{% block title %}
    {% if app.request.get('city') %}
        {{ 'title.parties_city'|trans }} {{ app.request.get('city')|capitalize }}
    {% elseif app.request.get('active') == 'true' %}
        {{ 'title.active_parties'|trans }}
    {% else %}
        {{ 'title.not_active_parties'|trans }}
    {% endif %}
{% endblock %}

{% block container %}
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="row">
                {% for party in parties %}
                    <div class="col-xs-4 col-lg-4">
                        <h2> {{ party.title }} </h2>
                        <p> {{ party.description|slice(0, 195) }} </p>
                        <p>{{ 'party.city'|trans }}: <a href="{{ path('parties') }}?city={{ party.city|lower }}">{{ party.city }}</a></p>
                        <p>{{ 'party.desired_sex'|trans }}: {{ party.gender|trans }} </p>
                        <p>{{ 'party.members'|trans }}: {{ party.users|length }}/{{ party.members }} </p>
                        <p><a class="btn btn-default" href="{{ path('joinparty', {'slug' : party.slug}) }}" role="button">{{ 'party.view_details'|trans }} &raquo;</a></p>
                    </div><!--/.col-xs-4 col-lg-4-->
                {% endfor %}
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-12-->
    </div><!--/row-->
{% endblock %}
