{% extends "base.html.twig" %}

{% block title %}
    {{ party.title }}
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2> {{ party.title }} </h2>
            <p> {{ party.description }} </p>
            <p>City: {{ party.city }} </p>
            <p>Needed gender: {{ party.gender }} </p>
            <p>Max members: {{ party.members }} </p>
            <p>Donate: {{ party.donate }} </p>
            <p>Created: {{ party.createdAt|date }} </p>
            <p>Last update: {{ party.updatedAt|date }} </p>
            <hr>
            <h4>Members</h4>
            <div align="right">
                <a href="#">Go!!!</a>
            </div>
        </div>
    </div>
{% endblock %}
